html
  head
    link(href='http://fonts.googleapis.com/css?family=Quicksand', rel='stylesheet', type='text/css')
    link(rel="stylesheet", type="text/css", href="/assets/mystyles.css")
  body
    #mycontent
      img(src="http://cdn.barkpost.com/wp-content/uploads/2014/05/oie_5181838bU3HJXJp.gif")
      br
      | You made it!
      br
      a(href="/login" action="/logout") Get me the hell outta doge.