html
  head
    link(href='http://fonts.googleapis.com/css?family=Quicksand', rel='stylesheet', type='text/css')
    link(rel="stylesheet", type="text/css", href="/assets/mystyles.css")  
  body
    #content
      form#signupForm(action="/signup", method="POST")
        span(style='font-size: 50px;')
          b Register
        br
        p#myerrorinfo
        br
        | Your Username:
        input(type='text', name='username')
        br
        br
        | Your Password:
        input(type='text', name='pass')
        br
        br
        | Your Password (Again):
        input(type='text', name='pass2')
        br
        br
        input(type='submit', value='Sign me on.')